.vs/
[Oo]bj/
[Bb]in/
*.user
*.suo
*.userosscache
*.sln.docstates
*.ide/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Ll]og/
*.log
.vscode/
*.opensdf
*.sdf
*.cache
*.opendb
*.nuget.props
*.nuget.targets
packages/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
*.publishsettings
*.appxrecipe
*.msix
*.msi
*.msm
*.msp
